body{

    background: rgb(187, 184, 184);
}
.header
{
    background: black;
    text-align: center;
    margin: -8px;
  
}

.d1,.d2,.d3
{
   display: inline-block;
   margin:50px 15px;
    width: 460px;
    height: 500px;
}
.footer{
    font-size: 25px;
    text-align: center;
    color: white;
    margin: 10px -7px -9px -9px ;
    height: 70px;
    background: rgb(0, 0, 0);
}
#f , #t , #a
{
    width: 390px;
    margin: auto;
    padding: 10px; 
}

#submit
{
    min-width: 1000px;
}

